.dropdown {
    position: relative;
    &-toggle {
        &::after {
            content: '';
            display: inline-block;
            margin-left: 5px;
            vertical-align: 3px;
            border-top: solid 4px;
            border-right: solid 4px transparent;
            border-bottom: 0;
            border-left: 5px solid transparent;
        }
    }
}